{% extends "filter/base.html" %}

{% load bootstrap3 %}


{% block pagecontent %}


<!--<form action="/filters/upload_asset/" method="post" class="form" enctype="multipart/form-data">-->
    <!--{% csrf_token %}-->
    <!--{% bootstrap_form asset_form %}-->
    <!--&lt;!&ndash;{{ asset_form }}&ndash;&gt;-->
    <!--<input type="submit" value="Submit" />-->
<!--</form>-->
<!--<br>-->

<form action="/filters/upload_asset/" method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form filter_form %}
    {{ form.errors }}
    {{ form.non_field_errors }}
    <input type="submit" value="Submit" />
</form>


{% endblock %}



