{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="{% static 'filter_tool/jquery.tag-editor.css' %}">
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        Filter Console - {{ title }}
    </title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="text-center">
            Filter Console - {{ title }}
        </h1>
    </div>
    <div class="row">
        {% block ChangeFilterButton %}
        {% endblock %}
    </div>
    <div class="row">
        {% block OrderButton %}
        {% endblock %}
    </div>
    <div class="row">
        {% block OrderCategoryButton %}
        {% endblock %}
    </div>
    <div class="row">
        {% block OrderAssetButton %}
        {% endblock %}
    </div>
    <div class="row">
        {% block DeleteAssetButton %}
        {% endblock %}
    </div>
    <div class="row">
        {% block LaunchButton %}
        {% endblock %}
    </div>
    <div class="row">
        {% block CategoryImageUpload %}
        {% endblock %}
    </div>
    <div class="row">
        {% block pagecontent %}
        {% endblock %}
    </div>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
<script src="{% static 'filter_tool/jquery.caret.min.js'%} "></script>
<script src="{% static 'filter_tool/jquery.tag-editor.js'%} "></script>
</html>