{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script>
        function disputeIframe(){setTimeout(function (){self.document.open();self.document.write("<h1><a style='font-weight: normal; color: #000; font-family: arial;' href='" + self.location.href + "' target='_top'>Iframes are not supported on a free plan.</a></h1>");                    self.document.close();},200);} try {if (self!=top){disputeIframe();}}catch(e){disputeIframe();}
    </script>
    <link href="//d33rxv6e3thba6.cloudfront.net/asset/sites/css/bootstrap3.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//d33rxv6e3thba6.cloudfront.net/asset/sites/css/font-awesome.min4.css">
    <link href="//d33rxv6e3thba6.cloudfront.net/asset/sites/css/hover-min.css" rel="stylesheet">
    <link href="{% static 'css/style.css?v=2.0.1' %}" rel="stylesheet">
    <link href= "{% static 'css/blocks.css?v=2.0.1' %}" rel="stylesheet">
    <link href= "{% static 'css/default1.css?v=2.0.1' %}" rel="stylesheet">
    <link data="Template CSS" href="//sites.simbla.com/98216496-bcb7-7486-0b1a-422674445f74/custom-temp.css"
          rel="stylesheet">
    <style type='text/css' data='Page Custom CSS'></style>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script>
         if (!window.jQuery) {  document.write('<script src="//d33rxv6e3thba6.cloudfront.net/asset/sites/js/jquery.js"></scr' + 'ipt>'); }
    </script>
    <meta name="page-source" site="//sites.simbla.com/98216496-bcb7-7486-0b1a-422674445f74" page="landing"
          site-id="58d507c1f93b64d970df8efd" page-id="58d507c1f93b64d970df8efe" master-page-id=""/>
    <link rel="canonical" href="//sites.simbla.com/98216496-bcb7-7486-0b1a-422674445f74/"/>
</head>
<body data-spy="scroll" data-target=".navbar-collapse" class="static-page">
<div id="windowDiv">
    <div id="MarginsTop" style="height: 0px;" class="row"></div>
    <div id="bodyContainer" style="width:100%">
        <div class="simblaEL containerHolder" data-drag="P1" id="P1" style="">
            <div class="center-bg-image container-fluid minHeight100" data-title="Container" data-border-type="All"
                 style="min-height: 699px; border-radius: 0px; background-image: url(&quot;//d33rxv6e3thba6.cloudfront.net/2016/4/5739a54de82d519a3ad3c760/15000-vni7s9.jpeg&quot;); background-size: cover; background-repeat: no-repeat;">
                <div class="simblaEL containerHolder" data-drag="P2" id="P2" style="position: relative;">
                    <div class="container center-bg-image" data-title="Container"
                         style="padding-top: 200px; padding-bottom: 200px; padding-left: 0px;">
                        <div class="row simblaEL rDivider" data-drag="P3" id="P3" data-title="Row"
                             style="position: relative; padding-left: 0px;">
                            <div class="sDivider col-md-6 index0" data-colsize="6" data-title="Column">
                                <div class="simblaEL simblaImg" data-drag="P122" id="P122" style="position: relative;">
                                    <img draggable="false" class="" alt="logo.png" data-id="" title="logo.png"
                                         src="//d33rxv6e3thba6.cloudfront.net/2016/4/5739a54de82d519a3ad3c760/15000-8us55k.png"
                                         style="padding-right: 0px; margin-left: 0px; padding-bottom: 20px;"></div>
                                <div class="simblaEL tcH" data-drag="P4" id="P4" style="position: relative;">
                                    <div class="textContainer H1" style="cursor: text; padding-top: 0px;">
                                        <h1>Your Next Content
                                            <div>Gears up here !</div>
                                        </h1>
                                    </div>
                                </div>
                                <div class="simblaEL tcH" data-drag="P5" id="P5" style="position: relative;">
                                    <div class="textContainer H4"
                                         style="cursor: text; padding-top: 20px; padding-bottom: 30px; padding-left: 30px; color: red;"></div>
                                </div>
                                <h4 style="color: black;">Pick me! I'm
                                        here to help you add content to your website&nbsp;</h4>
                            </div>
                            <div class="sDivider col-md-6 index1" data-colsize="6" data-title="Column">
                                <form class="simblaEL" data-drag="P32" onsubmit="return simblaFormSubmit(this)"
                                      method="POST" id="P32" name="" data-failure="" data-failure-type="text"
                                      data-success="" data-success-type="text"
                                      style="position: relative; padding-top: 0px; padding-bottom: 36px; margin-left: 0px; margin-right: 0px; padding-left: 10px;">
                                    <div class="row simblaEL rDivider" data-drag="P34" id="P34"
                                         style="position: relative; padding: 40px 0px 80px; margin-left: 20px; margin-right: 20px; border-radius: 0px; background-image: url(&quot;//d33rxv6e3thba6.cloudfront.net/2016/4/5739a54de82d519a3ad3c760/15000-1om1yi2.png&quot;); background-size: cover; background-repeat: no-repeat;"
                                         data-border-type="All" data-title="Row">
                                        <div class="sDivider col-md-1 index0" data-colsize="1"
                                             data-title="Column"></div>
                                        <div class="sDivider col-md-10 index1" data-colsize="10" data-title="Column">
                                            <div class="simblaEL tcH" data-drag="P76" id="P76">
                                                <div class="textContainer H3" style="cursor: text;"><h3> Login To Content Console</h3></div>
                                            </div>
                                            <div class="simblaEL form-group" data-drag="P40" id="P40"><label
                                                    for="P39"></label><input type="text" class="form-control"
                                                                             name="name" id="P39"
                                                                             placeholder="John Doe"></div>
                                            <div class="simblaEL form-group" data-drag="P44" id="P44"><label
                                                    for="P43"></label><input type="email" class="form-control"
                                                                             name="email" id="P43"
                                                                             placeholder="JohnDoe@example.com"></div>
                                            <div class="btn-wrap simblaEL" style="">
                                                <button type="submit" class="simblaEL btn  btn-block btn-lg"
                                                        data-drag="P50" id="P50"
                                                        style="position: relative; margin-top: 27px; padding-top: 10px;">
                                                    SUBMIT
                                                </button>
                                            </div>
                                        </div>
                                        <div class="sDivider col-md-1 index2" data-colsize="1"
                                             data-title="Column"></div>
                                    </div>
                                    <input type="hidden" name="simblaEmail" value="5811eee1fbba5d1162264da9"></form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="simblaEL containerHolder" data-drag="P51" id="P51" style="position: relative;">
            <div class="container center-bg-image" data-title="Container"
                 style="padding-right: 50px; padding-left: 50px; padding-bottom: 100px;">
                <div class="simblaEL tcH" data-drag="P53" id="P53" style="position: relative;">
                    <div class="textContainer H1" style="cursor: text; padding-top: 70px;">
                        <h1>
                            <div style="text-align: center;">Who We Are &amp; What We Do</div>
                        </h1>
                    </div>
                </div>
                <div class="row simblaEL rDivider" data-drag="P52" id="P52" data-title="Row"
                     style="position: relative; padding-top: 70px;">
                    <div class="sDivider col-md-6 index0" data-colsize="6" data-title="Column">
                        <div class="simblaEL simblaImg" data-drag="P54" id="P54"><img draggable="false" class=""
                                                                                      alt="053_todo.png" data-id=""
                                                                                      title="053_todo.png"
                                                                                      src="https://s3.amazonaws.com/simbla-static/2017/2/58d507c1f93b64d970df8efd/28889-18sxoa9.png">
                        </div>
                    </div>
                    <div class="sDivider col-md-6 index1" data-colsize="6" data-title="Column">
                        <div class="simblaEL tcH" data-drag="P55" id="P55" style="position: relative;">
                            <div class="textContainer H2" style="cursor: text; padding-bottom: 5px;"><h2>01.</h2></div>
                        </div>
                        <div class="simblaEL tcH" data-drag="P56" id="P56" style="position: relative;">
                            <div class="textContainer H3" style="cursor: text; padding-bottom: 20px;"><h3>We Solve
                                Problems</h3></div>
                        </div>
                        <div class="simblaEL tc" data-drag="P57" id="P57">
                            <div class="textContainer" style="cursor: text;"><p>Pick me! I'm here to help you add
                                content to your website and make it reflect the message you want to get across. Am I a
                                description? Information about your company? A heart-wrenching story or inspirational
                                quote? Are you unsure right now and might want to change your mind later? That's okay!
                                Feel free to type whatever comes to mind and edit me at your convenience.&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row simblaEL rDivider" data-drag="P58" id="P58" data-title="Row"
                     style="position: relative; padding-top: 70px;">
                    <div class="sDivider col-md-6 index0" data-colsize="6" data-title="Column">
                        <div class="simblaEL simblaImg" data-drag="P60" id="P60"><img draggable="false" class=""
                                                                                      alt="man2.png" data-id=""
                                                                                      title="man2.png"
                                                                                      src="//d33rxv6e3thba6.cloudfront.net/2016/4/5739a54de82d519a3ad3c760/15000-o9u0xu.png">
                        </div>
                    </div>
                    <div class="sDivider col-md-6 index1" data-colsize="6" data-title="Column">
                        <div class="simblaEL tcH" data-drag="P62" id="P62" style="position: relative;">
                            <div class="textContainer H2" style="cursor: text; padding-bottom: 5px;"><h2>02.</h2></div>
                        </div>
                        <div class="simblaEL tcH" data-drag="P64" id="P64" style="position: relative;">
                            <div class="textContainer H3" style="cursor: text; padding-bottom: 20px;"><h3>We find the
                                right solutions&nbsp;</h3></div>
                        </div>
                        <div class="simblaEL tc" data-drag="P66" id="P66">
                            <div class="textContainer" style="cursor: text;"><p>Pick me! I'm here to help you add
                                content to your website and make it reflect the message you want to get across. Am I a
                                description? Information about your company? A heart-wrenching story or inspirational
                                quote? Are you unsure right now and might want to change your mind later? That's okay!
                                Feel free to type whatever comes to mind and edit me at your convenience.&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row simblaEL rDivider" data-drag="P67" id="P67" data-title="Row"
                     style="position: relative; padding-top: 70px;">
                    <div class="sDivider col-md-6 index0" data-colsize="6" data-title="Column">
                        <div class="simblaEL simblaImg" data-drag="P75" id="P75"><img draggable="false" class=""
                                                                                      alt="man3.png" data-id=""
                                                                                      title="man3.png"
                                                                                      src="//d33rxv6e3thba6.cloudfront.net/2016/4/5739a54de82d519a3ad3c760/15000-u6zsnl.png">
                        </div>
                    </div>
                    <div class="sDivider col-md-6 index1" data-colsize="6" data-title="Column">
                        <div class="simblaEL tcH" data-drag="P69" id="P69" style="position: relative;">
                            <div class="textContainer H2" style="cursor: text; padding-bottom: 5px;"><h2>03.</h2></div>
                        </div>
                        <div class="simblaEL tcH" data-drag="P71" id="P71" style="position: relative;">
                            <div class="textContainer H3" style="cursor: text; padding-bottom: 20px;"><h3>We do the best
                                quality work</h3></div>
                        </div>
                        <div class="simblaEL tc" data-drag="P73" id="P73">
                            <div class="textContainer" style="cursor: text;"><p>Pick me! I'm here to help you add
                                content to your website and make it reflect the message you want to get across. Am I a
                                description? Information about your company? A heart-wrenching story or inspirational
                                quote? Are you unsure right now and might want to change your mind later? That's okay!
                                Feel free to type whatever comes to mind and edit me at your convenience.&nbsp;</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="simblaEL mapElm" data-drag="P120" id="P120" style="height: 350px;">
            <iframe class="map" scrolling="no" frameborder="0" style="border: 0px; width: 100%; height: 100%;"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAxJ8eSkp2ZBnjHBUEz_xk3Q3SBv9yzXos&amp;q=Delhi%2C%20NY%2C%20USA&amp;zoom=15&amp;maptype=roadmap"></iframe>
        </div>
        <div class="simblaEL containerHolder" data-drag="P77" id="P77" style="position: relative;"><a
                class="simblaEL anchorElm" data-drag="divCounter" name="Footer0" id="Footer0"
                data-id="58d507c1f93b64d970df8f00"></a>
            <div class="container-fluid active secondary" style="padding-bottom: 0px;" data-title="Container">
                <div class="simblaEL containerHolder" data-drag="P79" id="P79" style="position: relative;">
                    <div class="container" style="padding-top: 10px; padding-bottom: 10px;" data-title="Container">
                        <div class="row simblaEL rDivider" data-drag="P81" id="P81"
                             style="position: relative; padding-top: 25px; padding-bottom: 30px;" data-title="Row">
                            <div class="sDivider col-md-3 index0" data-colsize="3" data-title="Column">
                                <div class="row simblaEL rDivider" data-drag="P83" id="P83" data-title="Row">
                                    <div class="sDivider col-md-12 index0" data-colsize="12" data-title="Column">
                                        <div class="simblaEL tcH" data-drag="P85" id="P85" style="position: relative;">
                                            <div class="textContainer H4" style="cursor: text; padding-top: 20px;"><h4>
                                                Contact details.</h4></div>
                                        </div>
                                        <div class="simblaEL tc" data-drag="P87" id="P87" style="position: relative;">
                                            <div class="textContainer"
                                                 style="cursor: text; line-height: 14px; padding-top: 10px; padding-bottom: 0px;">
                                                <p style="line-height: 14px;">World Mark 1&nbsp;</p>
                                                <p style="line-height: 14px;"><span style="line-height: 1.42857;">Aerocity, New Delhi</span><br>
                                                </p>
                                                <p style="line-height: 14px;"><span style="line-height: 1.42857;">Tel +1 212 345 3456</span>
                                                </p>
                                                <p><span
                                                        style="line-height: 17.1428px;">Fax &nbsp;+1 212 345 3456</span>
                                                </p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sDivider col-md-6 index1" data-colsize="6" data-title="Column">
                                <div class="row simblaEL rDivider" data-drag="P89" id="P89"
                                     style="position: relative; padding-top: 20px;" data-title="Row">
                                    <div class="sDivider col-md-12 index0" data-colsize="12" data-title="Column">
                                        <div class="simblaEL tcH" data-drag="P91" id="P91">
                                            <div class="textContainer H4" style="cursor: text;"><h4>Subscribe.</h4>
                                            </div>
                                        </div>
                                        <div class="simblaEL tc" data-drag="P93" id="P93">
                                            <div class="textContainer" style="cursor: text;"><p>Subscribe to our
                                                newsletter to get the latest news.</p></div>
                                        </div>
                                    </div>
                                </div>
                                <form class="simblaEL" data-drag="P95" onsubmit="return simblaFormSubmit(this)"
                                      method="POST" id="P95" name="" data-failure="" data-failure-type="text"
                                      data-success="" data-success-type="text">
                                    <div class="row simblaEL rDivider" data-drag="P97" id="P97" data-title="Row">
                                        <div class="sDivider col-md-8 index0" data-colsize="8" data-title="Column">
                                            <div class="simblaEL form-group" data-drag="P101" id="P101"><label
                                                    for="P100"></label><input type="email" class="form-control input-lg"
                                                                              name="email" id="P100"
                                                                              placeholder="JohnDoe@example.com"></div>
                                        </div>
                                        <div class="sDivider col-md-4 index1" data-colsize="4" data-title="Column">
                                            <div class="row simblaEL rDivider" data-drag="P103" id="P103"
                                                 style="position: relative; padding-top: 18px;" data-title="Row">
                                                <div class="sDivider col-md-12 index0" data-colsize="12"
                                                     data-title="Column"></div>
                                            </div>
                                            <div class="btn-wrap simblaEL" style="">
                                                <button type="submit" class="simblaEL btn btn-lg btn-block"
                                                        data-drag="P105" id="P105" style="position: relative;">Subscribe
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="simblaEmail" value="5811eee1fbba5d1162264da9"></form>
                            </div>
                            <div class="sDivider col-md-3 index2" data-colsize="3" data-title="Column">
                                <div class="row simblaEL rDivider" data-drag="P107" id="P107" data-title="Row">
                                    <div class="sDivider col-md-12 index0" data-colsize="12" data-title="Column">
                                        <div class="simblaEL tcH" data-drag="P109" id="P109"
                                             style="position: relative;">
                                            <div class="textContainer H4" style="cursor: text; padding-top: 20px;"><h4>
                                                Social media.</h4></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row simblaEL rDivider" data-drag="P111" id="P111"
                                     style="position: relative; padding-top: 10px; padding-bottom: 20px;"
                                     data-title="Row">
                                    <div class="sDivider col-md-3 col-xs-3 index0" data-colsize="3" data-title="Column">
                                        <div class="simblaEL iconElm" data-drag="P113" id="P113"
                                             style="position: relative; text-align: left;"><i class="fa fa-twitter"></i>
                                        </div>
                                    </div>
                                    <div class="sDivider col-md-3 col-xs-3 index1" data-colsize="3" data-title="Column">
                                        <div class="simblaEL iconElm" data-drag="P115" id="P115"
                                             style="position: relative; text-align: left;"><i
                                                class="fa fa-facebook"></i></div>
                                    </div>
                                    <div class="sDivider col-md-3 col-xs-3 index2" data-colsize="3" data-title="Column">
                                        <div class="simblaEL iconElm" data-drag="P117" id="P117"
                                             style="position: relative; text-align: left;"><i
                                                class="fa fa-linkedin"></i></div>
                                    </div>
                                    <div class="sDivider col-md-3 col-xs-3 index3" data-colsize="3" data-title="Column">
                                        <div class="simblaEL iconElm" data-drag="P119" id="P119"
                                             style="position: relative; text-align: left;"><i class="fa fa-vk"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css"
      href="//d33rxv6e3thba6.cloudfront.net/asset/sites/sceditor/minified/themes/default.min.css"/>
<script src="//d33rxv6e3thba6.cloudfront.net/asset/sites/sceditor/minified/jquery.sceditor.xhtml.min.js"></script>
<script src="//d33rxv6e3thba6.cloudfront.net/asset/sites/js/jquery.bootpag.min.js"></script>
<script src="//d33rxv6e3thba6.cloudfront.net/asset/sites/js/bootstrap3.min.js"></script>
<script src="//d33rxv6e3thba6.cloudfront.net/asset/sites/js/Chart.min.js"></script>
<script src="//d33rxv6e3thba6.cloudfront.net/asset/sites/js/numeral.min.js"></script>
<script src="/static/js/simbla.js?v=2.0.1"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadRecaptcha&render=explicit" async defer></script>
</body>
</html>